
<section class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="text-center">
        <h3>Είστε σίγουρος οτι θέλετε να διαγραφεί η συνταγή ?</h3>
        <a href="/Home/DeleteRecipe/@ViewData["idToDelete"]" class="btn btn-danger">Διαγραφή Συνταγής</a>
        @Html.ActionLink("Πίσω στην Αρχική", "Index")
    </div>
</section>

